@tailwind base;
@tailwind components;
@tailwind utilities;




html,body{
  /* Hide both horizontal and vertical scrollbars /
  / WebKit (Chrome, Safari, etc.) */
  ::-webkit-scrollbar {
  display: none;
  }
  
  /* Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none;
  }
